nav {
    height: 50px;
    line-height: 30px;
    background-color: lightgray;
    font-size: 25px;
}

nav li {
    list-style: none;
    float: left;
    padding: 10px;
}

nav li:hover {
    background-color: darkgray;
}

nav a {
    text-decoration: none;
    color: rgb(9, 7, 20);
}